.EntryItemSeen {
  display: flex;
  width: 200px;
  padding-right: 1em;
  flex-shrink: 0;
  align-self: center;
  justify-content: flex-start;
  align-items: center;

  input {
    width: 120px;
    min-width: 0;
    flex-shrink: 1;
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    color: inherit;
    font-weight: 700;
    text-align: right;
  }

  &__increment {
    margin: 0 .5rem .1rem .5rem;
    width: 1.2em;
    height: 1.2em;
    padding: .07em 0 0 0;
    flex-shrink: 0;
    line-height: 1;
    text-align: center;
  }

  &__out {
    flex-grow: 1;
    white-space: nowrap;
  }
}
