.EntryList {
  max-width: 80rem;
  margin: 0 auto;
  padding: 1rem 1rem 1rem 14rem;
  background-color: $colorBg1;
  margin-top: 5rem;

  &__table {
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }
}
