.EntryEditorInputs {
  --inputBackgroundColor: #191919;
  --inputBorderColor: #333;
  --inputPadding: 0 12px;
  --inputSpacing: .5rem;

  .input-row {
    margin-bottom: var(--inputSpacing);

    label {
      display: flex;
      gap: var(--inputSpacing);
      align-items: center;
    }

    textarea,
    input,
    .select,
    .input-display {
      display: block;
      min-width: 0;
      width: 100%;
      height: 25px;
      font: inherit;
      background-color: var(--inputBackgroundColor);
      color: #eee;
      border: none;
      resize: none;
      border-radius: 5px;
      border: 1px solid var(--inputBorderColor);
      text-align: center;

      &:focus {
        outline: none;
      }

      &:hover {
        background-color: #222;
      }
    }

    .select input,
    &.input-row--name textarea {
      border: none;
    }

    .select {
      &__control {
        cursor: pointer;

        &:hover {
          background-color: #222;
        }
      }

      &__option:active {
        background-color: #333;
      }
    }

    textarea,
    input,
    .input-display {
      padding: var(--inputPadding);
    }

    input[type=number] {
      appearance: textfield;
      -moz-appearance: textfield;
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    ::placeholder,
    ::-webkit-input-placeholder {
      opacity: 1;
      color: #777;
    }

    &--name {
      textarea {
        background: none;
        font-size: 1.62em;
        font-weight: 700;
        text-align: left;
        padding: 0;
      }

      margin-bottom: 1rem;
    }

    &--cover {
      input {
        display: none;
      }

      .input-display {
        display: flex;
        align-items: center;
        cursor: pointer;
      }
    }
  }

  .input-label {
    font-size: .75rem;
    font-weight: 700;
    min-width: 3rem;
  }

  .input-group {
    display: flex;
    gap: var(--inputSpacing);
    align-items: center;
    margin-bottom: var(--inputSpacing);

    .input-row {
      width: 50%;
      margin-bottom: 0;
    }
  }
}
