@import "./variables";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $colorBg;
  color: $colorContent;
  font-family: sans-serif;
}

@import "./EntryList";
@import "./EntryItem";
@import "./EntryEditor";
@import "./EntryEditorInputs";
